@import "tailwindcss";



*{
  border: 1px solid red;
}

/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size:1.5rem;

  color-scheme: light dark;
  color: white;
  background-color: #15182e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding:10px;
}

a:hover { 
  background-color: white;
  color: #15182e;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
    min-width: 1rem;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 300;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    transition: all 0.3s ease-in-out;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    background-color: #15182e;
}

.search-and-actions-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.actions-button {
    display:flex;
    font-size: .7rem;
    font-weight: 700;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.actions-button:hover {
    background-color: white;
    color:#15182e;
    font-size: .7rem;
    font-weight: 700;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.actions-button-container {
  display: flex;
}

button:hover {
  text-decoration: underline;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* *From src/styles/index.css 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display:flex;
  flex-direction: column;
  width: 100%;
}

input{ 
  margin-bottom:2px;
  height: 1rem;
  font-size: .8rem;
  background-color: white;
  color: black;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  background-color: #e6ebf1;
  color: black;
  font-weight: 700;
}

th {
  border: 1px solid rgb(63, 78, 93);
  padding: 8px 10px;
  text-align: left;
  font-weight: 700;
}

td {
  border: 1px solid rgb(63, 78, 93);
  padding: 8px 10px;
  text-align: left;
  font-weight: 400;
}
*/